.color { color: #2c182b }
.color-call-to-action{ color: #d1fd03 }
.color-light { color: #EEE }

.bgcolor-dark { background-color: #2c0129 }
.bgcolor-light { background-color: #fff }

html,
body
{
  background-color: #2c0129;
}

.subtitle {
  text-align: center;
  font-size: 1.2em;
  color: #fff5fe;
  margin-bottom: 30px;
}

.dark {
  color: #6f0367;
}

.price {
  background-color: #6f0367;
  color: #FFF;
  font-weight: bold;
  padding: 5px;
  text-align: center;
  -webkit-border-top-left-radius: 1px;
  -webkit-border-top-right-radius: 1px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 1px;
  -moz-border-radius-topright: 1px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

header {
  height: 100px;
  background-image: radial-gradient(circle 100vh at bottom, #45193b, #2c0129);
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(90deg, rgba(250, 250, 250, 0), rgba(#FFF, 0.9) 50%, rgba(194, 117, 250, 0) 100%) 5%;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

#logo {
  padding: 30px;
  display: inline-block;
  vertical-align: top;
}
#logo img { width: 250px }

p { font-size: .9em }

nav {
  float: right;
  margin-top: 30px;
}

nav ul li {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  padding: 10px;
}

#banner img {
  width: 100%
}

#about {
  padding: 50px;
  background-image: radial-gradient(circle 100vh at bottom, #45193b, #2c0129);
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(90deg, rgba(250, 250, 250, 0), rgba(#FFF, 0.9) 50%, rgba(194, 117, 250, 0) 100%) 5%;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

#about h1 {
  color: #effdaf ;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.thumbnails img { width: 100%; }

#news { padding: 50px }

#news img {
  width: 100%;
  border-bottom: 3px solid #6f0367;
}

#team {
  padding: 50px;
  background-image: radial-gradient(circle 100vh at bottom, #45193b, #2c0129);
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(90deg, rgba(250, 250, 250, 0), rgba(#FFF, 0.9) 50%, rgba(194, 117, 250, 0) 100%) 5%;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

#team h1 {
  color: #effdaf ;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 15px;
}

#team img {
  display: block;
  margin: 0 auto;
  border-radius: 100%;
  border: 5px solid #FFF;
}

#news h1 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 15px;
}

#news h2 {
  text-transform: uppercase;
  font-size: 1.2em;
  text-align: center;
}

#news .col-sm-12 a {
  margin-top: 30px;
  background-color: #d1fd03;
  border-radius: 5px;
  padding: 5px;
  color: #000;
  display: block;
  text-align: center;
}
#news .col-sm-12 a:hover {
  background-color: #99ae37;
  color: #FFF;
  text-decoration: none;
}

#news .thumbnail_content {
  padding: 10px;
  background-image: radial-gradient(circle 80vh at bottom, #FFF, #6f0367);
  min-height: 300px;
}

#parts {
  padding: 50px;
  background-image: radial-gradient(circle 100vh at bottom, #45193b, #2c0129);
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(90deg, rgba(250, 250, 250, 0), rgba(#FFF, 0.9) 50%, rgba(194, 117, 250, 0) 100%) 5%;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

#parts h1 {
  color: #effdaf ;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 15px;
}

#parts img {
  width: 100%;
  border-bottom: 3px solid #FFF;
}

#parts h2 {
  text-transform: uppercase;
  font-size: 1.2em;
  text-align: center;
}

#parts p a {
  color: #d1fd03;
  text-decoration: underline;
}

#parts .col-sm-12 a {
  margin-top: 30px;
  background-color: #d1fd03;
  border-radius: 5px;
  padding: 5px;
  color: #000;
  display: block;
  text-align: center;
}
#parts .col-sm-12 a:hover {
  background-color: #99ae37;
  color: #FFF;
  text-decoration: none;
}

#parts .thumbnail_content {
  padding: 10px;
  background-image: radial-gradient(circle 30vh at bottom, #e6bde3, #FFF);
  min-height: 300px;
}

nav ul li a {
  color: #EEE;
  font-size: 0.9em;
  text-transform: uppercase;
  padding: 5px;
  border-radius: 5px;
}

nav ul li a:hover {
  background-color: #fff;
  color: #2c0129;
  text-decoration: none;
}

#team h2 {
  text-align: center;
  color: #FFF;
  margin-top: 25px;
}
#team h3 {
  text-align: center;
  font-size: 1em;
  text-transform: uppercase;
  color: #FFF;
}

#team p {
  color: #FFF;
}

#meet iframe { width: 100% }

footer {
  padding: 50px;
}

#trots {
  border-bottom: 1px solid #2c0129;
  padding: 50px;
}

#trots h1 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 15px;
}

#trots h2 {
  text-transform: uppercase;
  font-size: 1.2em;
  text-align: center;
}

#trots .col-sm-12 a {
  margin-top: 30px;
  background-color: #d1fd03;
  border-radius: 5px;
  padding: 5px;
  color: #000;
  display: block;
  text-align: center;
}
#trots .col-sm-12 a:hover {
  background-color: #99ae37;
  color: #FFF;
  text-decoration: none;
}

#trots .thumbnail {
  margin-top: 50px;
}

#trots .thumbnail_content {
  padding: 10px;
  background-image: radial-gradient(circle 80vh at bottom, #FFF, #6f0367);
  min-height: 300px;
}

#trots img {
  width: 100%;
  border-bottom: 3px solid #FFF;
}

#trots a {
  color: #2c182b;
}

#trots a:hover {
  text-decoration: none;
}

#thunder {
  padding: 50px;
  background-image: radial-gradient(circle 80vh at bottom, #6f0367, #2c0129);
}

#thunder img {
  border: 10px solid #7f0877;
  border-radius: 100%;
}

#thunder h1 {
  color: #d1fd03;
}

#thunder h2 {
  color: #effdaf;
}

#thunder p {
  color: #FFF;
}

#aktivo {
  padding: 50px;
  background-image: radial-gradient(circle 80vh at bottom, #6f0367, #2c0129);
}

#aktivo img {
  border: 10px solid #7f0877;
  border-radius: 100%;
}

#aktivo h1 {
  color: #d1fd03;
}

#aktivo h2 {
  color: #effdaf;
}

#aktivo p {
  color: #FFF;
}

#etwow {
  padding: 50px;
  background-image: radial-gradient(circle 80vh at bottom, #6f0367, #2c0129);
}

#etwow img {
  border: 10px solid #7f0877;
  border-radius: 100%;
}

#etwow h1 {
  color: #d1fd03;
}

#etwow h2 {
  color: #effdaf;
}

#etwow p {
  color: #FFF;
}

#ninebot {
  padding: 50px;
  background-image: radial-gradient(circle 80vh at bottom, #6f0367, #2c0129);
}

#ninebot img {
  border: 10px solid #7f0877;
  border-radius: 100%;
}

#ninebot h1 {
  color: #d1fd03;
}

#ninebot h2 {
  color: #effdaf;
}

#ninebot p {
  color: #FFF;
}

#equipments {
  border-bottom: 1px solid #2c0129;
  padding: 50px;
}

#equipments h1 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 15px;
}

#equipments h2 {
  text-transform: uppercase;
  font-size: 1.2em;
  text-align: center;
}

#equipments .col-sm-12 a {
  margin-top: 30px;
  background-color: #d1fd03;
  border-radius: 5px;
  padding: 5px;
  color: #000;
  display: block;
  text-align: center;
}
#equipments .col-sm-12 a:hover {
  background-color: #99ae37;
  color: #FFF;
  text-decoration: none;
}

#equipments .thumbnail {
  margin-top: 50px;
}

#equipments .thumbnail_content {
  padding: 10px;
  background-image: radial-gradient(circle 80vh at bottom, #FFF, #6f0367);
  min-height: 300px;
}

#equipments img {
  width: 100%;
  border-bottom: 3px solid #FFF;
}

#equipments a {
  color: #2c182b;
}

#equipments a:hover {
  text-decoration: none;
}

#accelerator {
  padding: 50px;
  background-image: radial-gradient(circle 80vh at bottom, #6f0367, #2c0129);
}

#accelerator img {
  border: 10px solid #7f0877;
  border-radius: 100%;
}

#accelerator h1 {
  color: #d1fd03;
}

#accelerator h2 {
  color: #effdaf;
}

#accelerator p {
  color: #FFF;
}

#casque {
  padding: 50px;
  background-image: radial-gradient(circle 80vh at bottom, #6f0367, #2c0129);
}

#casque img {
  border: 10px solid #7f0877;
  border-radius: 100%;
}

#casque h1 {
  color: #d1fd03;
}

#casque h2 {
  color: #effdaf;
}

#casque p {
  color: #FFF;
}

#gants {
  padding: 50px;
  background-image: radial-gradient(circle 80vh at bottom, #6f0367, #2c0129);
}

#gants img {
  border: 10px solid #7f0877;
  border-radius: 100%;
}

#gants h1 {
  color: #d1fd03;
}

#gants h2 {
  color: #effdaf;
}

#gants p {
  color: #FFF;
}

#frein {
  padding: 50px;
  background-image: radial-gradient(circle 80vh at bottom, #6f0367, #2c0129);
}

#frein img {
  border: 10px solid #7f0877;
  border-radius: 100%;
}

#frein h1 {
  color: #d1fd03;
}

#frein h2 {
  color: #effdaf;
}

#frein p {
  color: #FFF;
}